{
  "openapi": "3.0.3",
  "info": {
    "title": "ai-platform",
    "description": "ai-platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://oa1.gxlky.com.cn"
    }
  ],
  "paths": {
    "/ai-platform/files/parse": {
      "post": {
        "operationId": "FilesParse",
        "summary": "输入图像或PDF调用模型推理，输出结构化信息。",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["schema_payload_json","files"],
                "properties": {
                  "system_prompt": {
                    "type": "string"
                  },
                  "schema_payload_json": {
                    "type": "string"
                  },
                  "pdf_process": {
                    "type": "string"
                  },
                  "text_process": {
                    "type": "string"
                  },
                "files": {
                    "type": "array",
                    "items":{
                       "type": "string",
                       "format": "binary"
                     }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "模型回复",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ai-platform/llm/structure": {
      "post": {
        "operationId": "LLMMultimodalStructure",
        "summary": "输入文本调用多模态模型推理，输出结构化信息。",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["schema_payload_json","text"],
                "properties": {
                  "system_prompt": {
                    "type": "string"
                  },
                  "schema_payload_json": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                "image_files": {
                    "type": "array",
                    "items":{
                       "type": "string",
                       "format": "binary"
                     }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "模型回复",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ai-platform/sensitive/filter": {
      "post": {
        "operationId": "sensitive_filter",
        "summary": "检查文本敏感词。",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "待检测的文本"
          }
        ],
        "responses": {
          "200": {
            "description": "过滤后的文本",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}